*{
        margin: 0;
        padding: 0;
}
img{
        border:0;
}
ol, ul ,li{
        list-style: none;
}
        
html,body{
        width:100%;
        height:100%;
}
.wrap{
        width:100%;
        height:100%;
        position:fixed;
        background:rgba(1,1,1,.5);
        top:0;
        display:none;
}
#log{
        width:400px;
        height:200px;
        border-radius:3px;
        background:#CCC;
        position:absolute;
        left:50%;
        margin-left:-100px;
        top:50%;
        margin-top:-125px;
}
#log h1{
        width:100px;
        height:50px;
        text-align:center;
        line-height:50px;
        font-size:22px;
}
#log p{
        width:100%;
        height:50px;
        line-height:50px;
        padding-left:20px;
        text-align: center;
}
#log h2{
        width:100%;
        height:100px;
        line-height:50px;
        text-align:center;
}
#log h2 button{
        margin-right:20px;
        width:80px;
        height:30px;
        border:none;
        background:#666;
        color:#fff;
}
.big{
        width:100%;
        height:100%;
}